.light-mode {
    background-color: white;
    color: black;
    padding: 30px 30px;
    width: 95%;
}

.dark-mode {
    background-color: white;
    color: black;
    padding: 30px 30px;
    width: 95%;
}



@media (max-width:768px) {
    .dark-mode .skill-card {
        padding: 40px 20px;
    }

    .light-mode .skill-card {
        padding: 40px 20px;
    }
}



