@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;


  box-sizing: border-box;
}


@media screen and (min-width: 768px) and (max-width: 1180px) {
  section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 99% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
  }

  .w-full {
    width: 99%;
  }

  .dark-mode {
    padding: 30px 0 !important;
    width: 100% !important;
  }

  .dark-mode button {
    margin-right: 20px;
  }

  .min-h-screen {
    min-height: 55vh !important;
  }
}

@media (max-width:768px) {
  .header-container {
    padding: 1rem 24px !important;
  }

  .header {
    position: static;
  }

  html,
  body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  .hero-banner {
    width: 90% !important;
  }

  section {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 99% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .about-image {
    width: 100%;
  }

  .dark-mode button {
    margin-right: 20px;
  }

  .dark-mode {
    padding: 30px 0 !important;
    width: 100% !important;
  }



  .dark-mode .skill-card {
    padding: 40px 12px !important;
  }

  .skill-card {
    padding: 1.5rem;
    width: 86% !important;
  }

  #projects.dark {
    padding: 0px !important;
    width: 100% !important;
  }

  .project-card {
    padding: 20px;
  }

  .contact-split {
    padding: 5px 0px !important;
  }

  .contact-container {
    max-width: 100%;
    gap: 0px;
  }

}

@media (max-width:340px) {
  .main-box {
    padding: 0 !important;
    width: 87%;
  }
}